/* GENERAL */
body{
    font-family: "Arimo", sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
}
section{
    padding: 65px 0 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.divider{
    width: 100px;
    height: 4px;
    background-color: brown;
    margin: 0 auto 20px;
}
.divider.white{
    background-color: white;
}
ul {
    list-style: none;
}
/* NAVBAR */
.navbar{
    background-color: rgb(63, 63, 63);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}
.navbar-nav{
    margin: 0 auto;
    text-align: center;
}
.nav-link{
    margin: 0 6px;
}
.nav-link.active,
.nav-link:hover{
    background-color: white;
    color: brown !important;

}



/* ABOUT */
#about{
    background-color: brown;
}
.profile-picture{
    align-self: center;
    margin: 0px auto 30px;
}
#about .heading h2{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.button1{
    color: #fff;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 18px 50px;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 1s;
}

.button1:hover{
    background-color: white;
    color: brown;
    
}

/* Skills */
#skills .heading h2{
    color: brown;
}
#skills .progress{
    height: 50px;
    margin: 30px 20px;
}
#skills .progress:last-child{
    margin-bottom: 0px;
}
#skills .progress-bar{
    background-color: brown;
}
#skills .progress-bar h5{
    text-shadow: 1px 1px 1px #000;
}

/* Experience */
#experience{
    background-color: brown;
}
#experience .heading h2{
    color: white;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2,5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after{
    content: " ";
    display: table;
}
.timeline > li:after{
    clear: both;
}
.timeline li .timeline-badge{
    color: brown;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #3d3d3d;
}
.timeline-panel-container{
    width: 49%;
    float: left;
}
.timeline-panel-container-inverted{
    margin-right: -40px;
    width: 47%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 2px solid #3d3d3d;
    border-radius: 10px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 5 10px 6px rgba #000 0.9;
    background: #fff;
}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -13px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;;
    border-bottom: 14px solid transparent;
    content:" ";    
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
    color: brown;
}

/* DIPLOMES */

#diplomes .heading h2{
    color: brown;
    margin: 15px 0px;
}
.diplomes-block{
    width: 85%;
    height: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: rgb(233, 233, 233);
    border-radius: 10px;
    border: 2px solid #000;
    margin-bottom: 20px;
}
.diplomes-block h5{
    color: rgb(97, 97, 97);
    font-size: 17px;
    margin-bottom: 15px;
}
.diplomes-block span{
    font-size: 35px;
}
.diplomes-block h3{
    color: brown;
    margin: 15px 0px;
}
.diplomes-block h4{
    margin-bottom: 20px;
}

/* PORTOFOLIO */
#portfolio
{
    background-color: brown;
}
#portfolio .heading h2{
    color: white;
}
#portfolio img{
    width : 100%;
    height: 100%;
    border: 5px solid black;
    filter: blur(3px) grayscale(100%);
    -webkit-filter: grayscale(100%) blur(3px);
}
#portfolio img:hover{
    filter: none;
    -webkit-filter: none;
}
#portfolio .col-md-4{
    margin-bottom: 20px;
}

/*REC*/
#rec .heading h2{
    color: brown;
}
#mycarousel .carousel-item{
    text-align: center;
    padding: 30px 30px 90px;
}
#mycarousel .carousel-item h3{
    color: brown;
    font-style: italic;
}

/* FOOTER */
footer{
    background-color: rgb(63, 63, 63);
    text-align: center;
    padding: 20px 0 40px;
}
footer span{
    color:brown;
    font-size:45px;
    line-height: 70px;
}
footer span:hover{
    font-size: 50px;
    transition: all 0.5s;

}
footer h5{
    color: floralwhite;
    padding: 15px 10px;
}
